-- Run once in Supabase SQL Editor (after schema.sql).
-- Adds gold purchase calculator fields to public.purchases.

alter table public.purchases
  add column if not exists gold_price_per_don numeric(16, 2),
  add column if not exists karat text,
  add column if not exists purity_factor numeric(12, 6),
  add column if not exists weight_don_raw numeric(14, 6),
  add column if not exists pure_gold_g numeric(14, 6),
  add column if not exists pure_gold_don numeric(14, 6),
  add column if not exists fee_tier text;
