-- Run in Supabase SQL Editor after setup_inventory_items.sql.
-- Idempotent: policies dropped before recreate.

create table if not exists public.inventory_audit_log (
  id uuid primary key default gen_random_uuid(),
  inventory_item_id uuid not null references public.inventory_items (id) on delete cascade,
  changed_by uuid not null references auth.users (id),
  changed_at timestamptz not null default now(),
  changes jsonb not null
);

create index if not exists inventory_audit_log_item_idx
  on public.inventory_audit_log (inventory_item_id);

alter table public.inventory_audit_log enable row level security;

drop policy if exists "inventory_audit_select_admin" on public.inventory_audit_log;
drop policy if exists "inventory_audit_insert_admin" on public.inventory_audit_log;
drop policy if exists "inventory_audit_delete_admin" on public.inventory_audit_log;

create policy "inventory_audit_select_admin"
  on public.inventory_audit_log for select to authenticated
  using (
    exists (
      select 1 from public.profiles p
      where p.id = auth.uid() and p.role = 'admin'
    )
  );

create policy "inventory_audit_insert_admin"
  on public.inventory_audit_log for insert to authenticated
  with check (
    exists (
      select 1 from public.profiles p
      where p.id = auth.uid() and p.role = 'admin'
    )
  );

create policy "inventory_audit_delete_admin"
  on public.inventory_audit_log for delete to authenticated
  using (
    exists (
      select 1 from public.profiles p
      where p.id = auth.uid() and p.role = 'admin'
    )
  );

grant select, insert, delete on public.inventory_audit_log to authenticated;

notify pgrst, 'reload schema';
