-- received_note / shipped_note: manual in-out text on sales ledger
alter table public.inventory_items add column if not exists received_note text;
alter table public.inventory_items add column if not exists shipped_note text;
notify pgrst, 'reload schema';
