-- inventory_items: sales fulfillment pipeline (Korean labels)
-- Run in Supabase SQL Editor, then reload API schema.

alter table public.inventory_items
  add column if not exists fulfillment_status text;

alter table public.inventory_items
  add column if not exists receivable_won bigint;

update public.inventory_items
set fulfillment_status = '즉시출고'
where fulfillment_status is null or trim(fulfillment_status) = '';

alter table public.inventory_items
  alter column fulfillment_status set default '즉시출고';

alter table public.inventory_items
  alter column fulfillment_status set not null;

comment on column public.inventory_items.fulfillment_status is
  '즉시출고(매장) | 접수 | 입금완료 | 발주 | 입고 | 출고완료';

comment on column public.inventory_items.receivable_won is
  '미수금(원). 완불이면 null 또는 0.';
