alter table public.jongro_daily_quotes
  add column if not exists quote_scope text not null default 'gold';

update public.jongro_daily_quotes
set quote_scope = 'gold'
where quote_scope is null;

alter table public.jongro_daily_quotes
  drop constraint if exists jongro_daily_quotes_branch_id_quote_date_key;

drop index if exists jongro_daily_quotes_branch_id_quote_date_key;

create unique index if not exists jongro_daily_quotes_branch_date_scope_uq
  on public.jongro_daily_quotes (branch_id, quote_date, quote_scope);

-- First migration created jongro_daily_quotes_branch_date_uniq on (branch_id, quote_date).
-- That blocks multiple scopes (e.g. gold + silver) per day; drop it after the triple index exists.
drop index if exists public.jongro_daily_quotes_branch_date_uniq;
