-- Run once in Supabase SQL Editor (after branches / purchases exist).
-- Daily closing ledger per branch + Korea calendar date.

create table if not exists public.branch_daily_closings (
  id uuid primary key default gen_random_uuid(),
  branch_id uuid not null references public.branches (id) on delete cascade,
  closing_date date not null,
  closed_at timestamptz not null default now(),
  closed_by uuid not null references auth.users (id) on delete restrict,
  note text null,
  open_vault_won bigint null,
  today_cash_purchase_sum_won bigint not null default 0,
  counter_won_estimated bigint null,
  purchase_count_gold int not null default 0,
  purchase_count_silver int not null default 0,
  purchase_count_chigum int not null default 0,
  purchase_count_other int not null default 0,
  weight_g_gold numeric(16, 4) not null default 0,
  weight_g_silver numeric(16, 4) not null default 0,
  weight_g_chigum numeric(16, 4) not null default 0,
  amount_won_gold bigint not null default 0,
  amount_won_silver bigint not null default 0,
  amount_won_chigum bigint not null default 0,
  amount_won_other bigint not null default 0,
  amount_won_total bigint not null default 0,
  checklist_vault_ack boolean not null default true,
  checklist_purchase_ack boolean not null default true
);

create unique index if not exists branch_daily_closings_branch_date_uniq
  on public.branch_daily_closings (branch_id, closing_date);

create index if not exists branch_daily_closings_branch_closed_at_idx
  on public.branch_daily_closings (branch_id, closing_date desc);

alter table public.branch_daily_closings enable row level security;

drop policy if exists "branch_daily_closings_select" on public.branch_daily_closings;
drop policy if exists "branch_daily_closings_insert" on public.branch_daily_closings;
drop policy if exists "branch_daily_closings_delete" on public.branch_daily_closings;

create policy "branch_daily_closings_select"
  on public.branch_daily_closings for select to authenticated
  using (
    exists (
      select 1 from public.profiles p
      where p.id = auth.uid()
        and (
          p.role = 'admin'
          or (p.role = 'staff' and p.branch_id = branch_daily_closings.branch_id)
        )
    )
  );

create policy "branch_daily_closings_insert"
  on public.branch_daily_closings for insert to authenticated
  with check (
    exists (
      select 1 from public.profiles p
      where p.id = auth.uid()
        and (
          p.role = 'admin'
          or (p.role = 'staff' and p.branch_id = branch_daily_closings.branch_id)
        )
    )
  );

create policy "branch_daily_closings_delete"
  on public.branch_daily_closings for delete to authenticated
  using (
    exists (
      select 1 from public.profiles p
      where p.id = auth.uid() and p.role = 'admin'
    )
  );

grant select, insert, delete on public.branch_daily_closings to authenticated;
