-- Extend inventory_items (columns only). If the table is missing, run setup_inventory_items.sql instead.
alter table public.inventory_items add column if not exists branch_id uuid references public.branches (id);
alter table public.inventory_items add column if not exists sold_at timestamptz not null default now();
alter table public.inventory_items add column if not exists customer_name text;
alter table public.inventory_items add column if not exists customer_phone text;
alter table public.inventory_items add column if not exists labor_fee numeric(16, 2);
alter table public.inventory_items add column if not exists weight_g numeric(14, 4);
alter table public.inventory_items add column if not exists purity text;
alter table public.inventory_items add column if not exists payment_method text;
alter table public.inventory_items add column if not exists received boolean not null default false;
alter table public.inventory_items add column if not exists shipped boolean not null default false;
alter table public.inventory_items add column if not exists vendor_name text;
alter table public.inventory_items add column if not exists order_ref text;
alter table public.inventory_items add column if not exists size text;

create index if not exists inventory_items_branch_sold_idx
  on public.inventory_items (branch_id, sold_at desc);
