-- Store today's sales gold quote (won/don) at registration time on each sale row.
-- Run once in Supabase SQL Editor. Safe to re-run.

alter table public.inventory_items
  add column if not exists sales_gold_price_per_don numeric(16, 2);

notify pgrst, 'reload schema';
