-- Run in Supabase SQL Editor (after migration_purchase_gold.sql).
-- Safe to run again: policies are dropped before recreate.

alter table public.purchases
  add column if not exists seller_name text,
  add column if not exists seller_phone text,
  add column if not exists processing_price_per_don numeric(16, 2),
  add column if not exists margin_amount numeric(16, 2);

create table if not exists public.purchase_audit_log (
  id uuid primary key default gen_random_uuid(),
  purchase_id uuid not null references public.purchases (id) on delete cascade,
  changed_by uuid not null references auth.users (id),
  changed_at timestamptz not null default now(),
  changes jsonb not null
);

create index if not exists purchase_audit_log_purchase_idx
  on public.purchase_audit_log (purchase_id);

alter table public.purchase_audit_log enable row level security;

drop policy if exists "purchase_audit_select_admin" on public.purchase_audit_log;
drop policy if exists "purchase_audit_insert_admin" on public.purchase_audit_log;

create policy "purchase_audit_select_admin"
  on public.purchase_audit_log for select to authenticated
  using (
    exists (
      select 1 from public.profiles p
      where p.id = auth.uid() and p.role = 'admin'
    )
  );

create policy "purchase_audit_insert_admin"
  on public.purchase_audit_log for insert to authenticated
  with check (
    exists (
      select 1 from public.profiles p
      where p.id = auth.uid() and p.role = 'admin'
    )
  );

-- PostgREST가 테이블에 접근하려면 역할 권한이 필요합니다(RLS는 그대로 admin만 통과).
grant select, insert, delete on public.purchase_audit_log to authenticated;

drop policy if exists "purchase_audit_delete_admin" on public.purchase_audit_log;

create policy "purchase_audit_delete_admin"
  on public.purchase_audit_log for delete to authenticated
  using (
    exists (
      select 1 from public.profiles p
      where p.id = auth.uid() and p.role = 'admin'
    )
  );

-- PostgREST schema cache: Dashboard → Settings → API → "Reload schema" (있으면) 또는 1~2분 대기
