-- Run once in Supabase SQL Editor (after schema.sql: branches, profiles, auth).
-- Daily processing quote (won per don). App upserts on (branch_id, quote_date).
-- Safe to re-run: policies are dropped before recreate.

create table if not exists public.jongro_daily_quotes (
  id uuid primary key default gen_random_uuid(),
  branch_id uuid not null references public.branches (id) on delete cascade,
  quote_date date not null,
  price_per_don numeric(16, 2) not null,
  updated_at timestamptz not null default now()
);

create unique index if not exists jongro_daily_quotes_branch_date_uniq
  on public.jongro_daily_quotes (branch_id, quote_date);

alter table public.jongro_daily_quotes enable row level security;

drop policy if exists "jongro_quotes_select" on public.jongro_daily_quotes;
drop policy if exists "jongro_quotes_insert" on public.jongro_daily_quotes;
drop policy if exists "jongro_quotes_update" on public.jongro_daily_quotes;
drop policy if exists "jongro_quotes_delete" on public.jongro_daily_quotes;

create policy "jongro_quotes_select"
  on public.jongro_daily_quotes for select to authenticated
  using (
    exists (
      select 1 from public.profiles p
      where p.id = auth.uid()
      and (
        p.role = 'admin'
        or (p.role = 'staff' and p.branch_id = jongro_daily_quotes.branch_id)
      )
    )
  );

create policy "jongro_quotes_insert"
  on public.jongro_daily_quotes for insert to authenticated
  with check (
    exists (
      select 1 from public.profiles p
      where p.id = auth.uid()
      and (
        p.role = 'admin'
        or (
          p.role = 'staff'
          and p.branch_id is not null
          and p.branch_id = jongro_daily_quotes.branch_id
        )
      )
    )
  );

create policy "jongro_quotes_update"
  on public.jongro_daily_quotes for update to authenticated
  using (
    exists (
      select 1 from public.profiles p
      where p.id = auth.uid()
      and (
        p.role = 'admin'
        or (
          p.role = 'staff'
          and p.branch_id is not null
          and p.branch_id = jongro_daily_quotes.branch_id
        )
      )
    )
  )
  with check (
    exists (
      select 1 from public.profiles p
      where p.id = auth.uid()
      and (
        p.role = 'admin'
        or (
          p.role = 'staff'
          and p.branch_id is not null
          and p.branch_id = jongro_daily_quotes.branch_id
        )
      )
    )
  );

create policy "jongro_quotes_delete"
  on public.jongro_daily_quotes for delete to authenticated
  using (
    exists (
      select 1 from public.profiles p
      where p.id = auth.uid() and p.role = 'admin'
    )
  );
