-- Add per-inventory override for Jongro quote display.
-- Used for silver sales ledger rows where daily quote may not apply.
alter table public.inventory_items
  add column if not exists jongro_quote_override_per_don numeric(16, 2);

notify pgrst, 'reload schema';

