-- Prefer: run setup_inventory_items.sql once (creates table + columns + RLS + grants, idempotent).
-- Or use this file on a fresh project AFTER public.branches exists.
-- Solo owner: each row belongs to the logged-in user (owner_id).

create table public.inventory_items (
  id uuid primary key default gen_random_uuid(),
  owner_id uuid not null references auth.users (id) on delete cascade,
  branch_id uuid references public.branches (id),
  sold_at timestamptz not null default now(),
  name text not null,
  kind text not null default 'other',
  quantity numeric(14, 3) not null default 0,
  unit text not null default 'g',
  cost_price numeric(16, 2),
  sell_price numeric(16, 2),
  labor_fee numeric(16, 2),
  weight_g numeric(14, 4),
  purity text,
  payment_method text,
  customer_name text,
  customer_phone text,
  received boolean not null default false,
  shipped boolean not null default false,
  vendor_name text,
  order_ref text,
  size text,
  note text,
  updated_at timestamptz not null default now()
);

create index inventory_items_owner_idx on public.inventory_items (owner_id);
create index inventory_items_branch_sold_idx on public.inventory_items (branch_id, sold_at desc);

alter table public.inventory_items enable row level security;

create policy "inventory_select_own"
  on public.inventory_items for select to authenticated
  using (owner_id = auth.uid());

create policy "inventory_insert_own"
  on public.inventory_items for insert to authenticated
  with check (owner_id = auth.uid());

create policy "inventory_update_own"
  on public.inventory_items for update to authenticated
  using (owner_id = auth.uid())
  with check (owner_id = auth.uid());

create policy "inventory_delete_own"
  on public.inventory_items for delete to authenticated
  using (owner_id = auth.uid());
