-- inventory_items: create table + columns + RLS + grants (idempotent).
-- Run the whole file in Supabase SQL Editor.
-- Requires public.branches for branch_id foreign key.

create table if not exists public.inventory_items (
  id uuid primary key default gen_random_uuid(),
  owner_id uuid not null references auth.users (id) on delete cascade,
  name text not null,
  kind text not null default 'other',
  quantity numeric(14, 3) not null default 0,
  unit text not null default 'g',
  cost_price numeric(16, 2),
  sell_price numeric(16, 2),
  note text,
  updated_at timestamptz not null default now()
);

alter table public.inventory_items add column if not exists branch_id uuid references public.branches (id);
alter table public.inventory_items add column if not exists sold_at timestamptz not null default now();
alter table public.inventory_items add column if not exists customer_name text;
alter table public.inventory_items add column if not exists customer_phone text;
alter table public.inventory_items add column if not exists labor_fee numeric(16, 2);
alter table public.inventory_items add column if not exists weight_g numeric(14, 4);
alter table public.inventory_items add column if not exists purity text;
alter table public.inventory_items add column if not exists payment_method text;
alter table public.inventory_items add column if not exists received boolean not null default false;
alter table public.inventory_items add column if not exists shipped boolean not null default false;
alter table public.inventory_items add column if not exists vendor_name text;
alter table public.inventory_items add column if not exists order_ref text;
alter table public.inventory_items add column if not exists size text;

create index if not exists inventory_items_owner_idx on public.inventory_items (owner_id);
create index if not exists inventory_items_branch_sold_idx on public.inventory_items (branch_id, sold_at desc);

alter table public.inventory_items enable row level security;

drop policy if exists "inventory_select_own" on public.inventory_items;
create policy "inventory_select_own"
  on public.inventory_items for select to authenticated
  using (owner_id = auth.uid());

drop policy if exists "inventory_insert_own" on public.inventory_items;
create policy "inventory_insert_own"
  on public.inventory_items for insert to authenticated
  with check (owner_id = auth.uid());

drop policy if exists "inventory_update_own" on public.inventory_items;
create policy "inventory_update_own"
  on public.inventory_items for update to authenticated
  using (owner_id = auth.uid())
  with check (owner_id = auth.uid());

drop policy if exists "inventory_delete_own" on public.inventory_items;
create policy "inventory_delete_own"
  on public.inventory_items for delete to authenticated
  using (owner_id = auth.uid());

grant select, insert, update, delete on table public.inventory_items to authenticated;
grant all on table public.inventory_items to service_role;

notify pgrst, 'reload schema';
